@page
@model IndexModel
@{   
    ViewData["Title"] = "TALLER A LOS PITS";
}



<div class="text-center">
    <h1 class="display-4">Taller A Los Pits</h1>
    <p>a los pints <a href="link"> minecraf.com</a>.</p>
</div>
