@page
@model Taller.App.Front.Pages.registrarVehiculoModel
@{
}


<body>
    <div class="container">
        <form class="rvehiculo">

            <div class="" class="text-center">
                <h1 style="border: ridge #F0FAF0 1px;" class="display-4">REGISTRAR VEHICULO</li>


                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Tipo Vehiculo*</span>
                        <select class="form-select" aria-label="Default select example">
                            <option selected> </option>
                            <option value="1">Deportivo</option>
                            <option value="2">Camion</option>
                            <option value="3">Van</option>
                            <option value="4">Pick Up</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Marca*</span>
                        <select class="form-select" aria-label="Default select example">
                            <option selected> </option>
                            <option value="1">Chevrolet</option>
                            <option value="2">Suzuki</option>
                            <option value="3">Renault</option>
                            <option value="4">Mazda</option>

                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Modelo *</span>
                        <select class="form-select" aria-label="Default select example">
                            <option selected> </option>
                            <option value="1">1985</option>
                            <option value="2">1986</option>
                            <option value="3">1987</option>
                            <option value="4">1988</option>
                            <option value="5">1989</option>
                            <option value="6">1990</option>
                            <option value="7">1991</option>
                            <option value="8">1992</option>
                            <option value="9">1993</option>
                            <option value="10">1994</option>
                            <option value="11">1995</option>
                            <option value="12">1996</option>
                            <option value="13">1997</option>
                            <option value="14">1998</option>
                            <option value="15">1999</option>
                            <option value="16">2000</option>
                        </select>
                    </div>


                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Color*</span>
                        <select class="form-select" aria-label="Default select example">
                            <option selected> </option>
                            <option value="1">Amarillo</option>
                            <option value="2">Negro</option>
                            <option value="3">Azul</option>
                            <option value="4">Rojo</option>
                            <option value="5">Negro</option>
                            <option value="6">Azul</option>
                            <option value="7">Rojo</option>

                        </select>
                    </div>



                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Placa *</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default">
                    </div>



                    <button class="btn btn-primary">REGISTRAR VEHICULO</button>

        </form>




    </div>



</body>
