@page
@model Taller.App.Front.Pages.agendarCitaModel
@{
}
<body>
    <form class="citas">

        <h1>Agendar Citas</h1>

        <div class="input-group">            
            <input type="text" class="form-control" placeholder="Ingresa tu Email *" aria-label="Recipient's username"
                aria-describedby="basic-addon2">            
        </div>

        <div class="input-group">
            <input type="text" placeholder="Modelo del Vehículo">
            <select class="form-select"aria-label="Default select example">
                <option selected>Año del Modelo </option>
                <option value="1">1985</option>
                <option value="2">1986</option>
                <option value="3">1987</option>
                <option value="4">1988</option>
                <option value="5">1989</option>
                <option value="1">1990</option>
                <option value="2">1991</option>
                <option value="3">1992</option>
                <option value="4">1993</option>
                <option value="5">1994</option>
                <option value="1">1995</option>
                <option value="2">1996</option>
                <option value="3">1997</option>
                <option value="4">1998</option>
                <option value="5">1999</option>
                <option value="5">2000</option>
            </select>
        </div>

        <div class="input-group">
            <input type="text" placeholder="Placa del Vehículo">
        </div>

        <div class="input-group">
            <span class="input-group-text">Razon de cita</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>

        <button class="btn btn-primary">VISTA JEFE DE PRODUCCIÓN</button>
        <button class="btn btn-primary">ENVIAR</button>
    </div>
    </form>
</body>
