@page
@model Taller.App.Front.Pages.tablaSolicitudesModel
@{
}




<body>

  <form class="tabla">

    <div class="text-center">
      <h1 class="display-4">Bienvenido a la tabla de Solicitudes</h1>



      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">FECHA</th>
            <th scope="col">USUARIO</th>
            <th scope="col">MODELO</th>
            <th scope="col">PLACA</th>
            <th scope="col">RAZON CITA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"></th>
            <th><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></th>
            <th><input id="number" type="number" value="1985" /></th>
            <th><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></th>
            <td>
              <select class="form-select" aria-label="Default select example">
                <option selected>Cambio de aceite</option>
                <option value="1">Pastillas de freno delantero</option>
                <option value="2">Pastillas de freno trasero</option>
                <option value="3">Cambio de llantas delanteras</option>
                <option value="4">Cambio de llantas traseras</option>
                <option value="5">falla de luces delanteras</option>
              </select>
              <button class="btn btn-primary">ENVIAR</button>
            </td>
          </tr>

          <tr>
            <th><input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"></th>
            <th><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></th>
            <th><input id="number" type="number" value="1985" /></th>
            <th><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></th>
            <td>
              <select class="form-select" aria-label="Default select example">
                <option selected>Cambio de aceite</option>
                <option value="1">Pastillas de freno delantero</option>
                <option value="2">Pastillas de freno trasero</option>
                <option value="3">Cambio de llantas delanteras</option>
                <option value="4">Cambio de llantas traseras</option>
                <option value="5">falla de luces delanteras</option>
              </select>
              <button class="btn btn-primary">ENVIAR</button>

            </td>
          </tr>
          <tr>          </tr>
          <tr>
          <tr>
            <th><input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"></th>
            <th><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></th>
            <th><input id="number" type="number" value="1985" /></th>
            <th><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></th>
            <td>
              <select class="form-select" aria-label="Default select example">
                <option selected>Cambio de aceite</option>
                <option value="1">Pastillas de freno delantero</option>
                <option value="2">Pastillas de freno trasero</option>
                <option value="3">Cambio de llantas delanteras</option>
                <option value="4">Cambio de llantas traseras</option>
                <option value="5">falla de luces delanteras</option>
              </select>
              <button class="btn btn-primary">ENVIAR</button>
            </td>
          <tr>
            <th><input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"></th>
            <th><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></th>
            <th><input id="number" type="number" value="1985" /></th>
            <th><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></th>
            <td>
              <select class="form-select" aria-label="Default select example">
                <option selected>Cambio de aceite</option>
                <option value="1">Pastillas de freno delantero</option>
                <option value="2">Pastillas de freno trasero</option>
                <option value="3">Cambio de llantas delanteras</option>
                <option value="4">Cambio de llantas traseras</option>
                <option value="5">falla de luces delanteras </option>
              </select>
              <button class="btn btn-primary">ENVIAR</button>
            </td>
          </tr>

        </tbody>
      </table>
      <button class="btn btn-primary">VISTA JEFE DE PRODUCCIÓN</button>

    </div>

  </form>

</body>
